.main {
	min-height: 100vh;
	width: 100%;
	background-color: #fdefef;
}

.content {
	width: 90%;
	margin: 0 auto;
}

.my-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
}

.my-info__img {
	width: 600px;
	border-radius: 12px;
}

.my-info__desc {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my-info__first {
	font-size: 50px;
	color: black;
}

.my-info__second {
	font-size: 32px;
	color: black;
}

.my-info__credo {
	margin-left: 100px;
	padding: 5px 10px 0 10px;
	font-size: 18px;
	line-height: 20px;
	color: gray;
	border-radius: 12px;
	background-color: #fdefef;
}

.my-info__copyright {
	text-align: right;
}

.content-card {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.content-title {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 20px 0 0 20px;
}

.card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
}

.card {
	margin: 10px;
}

.card-body {
	text-align: center;
}

.card-img-top {
	width: 100%;
	height: 160px;
}

.album {
	height: 100vh;
	background-color: #fdefef;
}

.gallery-photo {
	max-height: 200px;
}
